[submodule "vim/vim/bundle/fugitive"]
	path = vim/vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/vim/bundle/sensible"]
	path = vim/vim/bundle/sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "vim/vim/bundle/syntastic"]
	path = vim/vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/vim/bundle/minibufexpl"]
	path = vim/vim/bundle/minibufexpl
	url = git://github.com/fholgado/minibufexpl.vim.git
[submodule "vim/vim/bundle/python"]
	path = vim/vim/bundle/python
	url = git://github.com/vim-scripts/python.vim--Vasiliev.git
[submodule "vim/vim/bundle/colors-solarized"]
	path = vim/vim/bundle/colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/vim/bundle/ropevim"]
	path = vim/vim/bundle/ropevim
	url = git://github.com/peplin/ropevim.git
[submodule "vim/vim/bundle/nerdtree"]
	path = vim/vim/bundle/nerdtree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule "vim/vim/bundle/jedi"]
	path = vim/vim/bundle/jedi
	url = git@github.com:mannygit/jedi-vim.git
[submodule "vim/vim/bundle/supertab"]
	path = vim/vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vim/vim/bundle/AsycCommand"]
	path = vim/vim/bundle/AsycCommand
	url = git://github.com/pydave/AsyncCommand.git
[submodule "vim/vim/bundle/red-green"]
	path = vim/vim/bundle/red-green
	url = git://github.com/jimf/vim-red-green.git
[submodule "vim/vim/bundle/asyc-make-green"]
	path = vim/vim/bundle/asyc-make-green
	url = git://github.com/jimf/vim-async-make-green.git
[submodule "vim/vim/bundle/coffee-script"]
	path = vim/vim/bundle/coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
